<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/static/SWmapico.ico">
    <title>MapSW Contact</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115470904-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-115470904-1');
    </script>
    <link href="/static/MapCSS/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="smallheader">
      <div class="container">
        <h1><a href="/home/">Southwest Map App<a></h1>
      </div>
    </div>

    <div class="nav">
      <div class="container">
        <ul>
	        <a class="btn" href="/home/"><li>Home</li></a>
          <a class="btn select" href="/contact/"><li>Contact</li></a>
          <a class="btn" href="/help/"><li>Help</li></a>
        </ul>
      </div>
    </div>

      <div class="essay3">
      <h1>Contributers:</h1><br/>

      <h1>Seay Zagar</h1>
      <ul>
        <li><p>Email: seaystir@gmail.com</p></li>
      </ul>

      <h1>Mark Pekala</h1>
      <ul>
        <li><p>Email: mpek66@gmail.com</p></li>
      </ul>

      <h1>Simon Lynn-Klimenko</h1>
      <ul>
        <li><p>Email: simon.lynnklimenko@gmail.com </p></li>
      </ul>

      <h1>Mr. Pass</h1>
      <ul>
        <li><p>Email: gabrielpass@mpls.k12.mn.us </p></li>
      </ul>

    </div>

    <div class="sub">
      <a class="formbtn" href="/form/">Leave Feedback!</a>
    </div>

    <div class="footer3">
      <div class="container">
        <p>&copy; MapSW</p>
      </div>
    </div>
  </body>
</html>
