<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/static/barlogo.ico">
    <title>Support</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115470904-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115470904-1');
    </script>
    <link href="/static/MapCSS/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>

    <div class="nav2">
      <div class="container">
        <ul>
	  <a class="btnwht" href="/home/"><li>Home</li></a>
          <a class="btnwht" href="/contact/"><li>Contact</li></a>
          <a class="btnwht" href="/help/"><li>Help</li></a>
        </ul>
      </div>
    </div>

      <div class="helpbox">
        <h1>Support</h1>
      	<div class="essay2">
          <div class="qbox"><div class="circle"><p>Click this button to enter your search.</p></div><img src="/static/images/searchButton.jpg"/></div>
          <div class="qbox2"><div class="circle"><p>Click this button to enter your staring location and activate navigation.</p></div><img src="/static/images/Locationicon.png"/></div>
          <div class="qbox3"><div class="circle"><p>This button displays floors of the school.</p></div><img src="/static/images/layer.png"/></div>
          <div class="qbox4"><p>Doler set</p><img id="QuestionMark" src="images/QuestionMarkicon.png"></img></div>
        </div>
      </div>

    <div class="footer2">
      <div class="container">
        <p>&copy; SWMapp</p>
      </div>
    </div>
  </body>
</html>
