<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>SWMapp</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115470904-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115470904-1');
    </script>
    <link rel="shortcut icon" href="/static/SWmapico.ico">
    <link rel="icon" type="image/png" href="/static/images/SWmapico_16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" type="image/png" href="/static/images/SWmapico_32x32.png" sizes="32x32">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' type='text/css'>
    <link rel="stylesheet" href="/static/MapCSS/style.css" type="text/css">
    <link rel="stylesheet" href="/static/MapCSS/loading_icon.css" type="text/css">
    <link rel="stylesheet" href="/static/MapCSS/BGColor.css" type="text/css">
    <script>
    //----------------------Loading Screen-------//
    window.addEventListener("load", function(){
      var load_screen = document.getElementById("load_screen");
      $.getJSON('/load_path/', {
        start: "BLANK",
        end: "BLANK",
      }, function(data){
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.zero);
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.one);
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.two);
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.three);
        $("#time_estimate").text("Travel Time: " + data.time + " sec.");
      });
      $('.closer').on('click touchend', function(){
        $('.floor').removeClass('active');
        $('.icon').removeClass('active');
      });
      reset_searchbar();
      $('#load_screen').css('display', 'none');
    });
    </script>
    <style>
    /*-------------^-Loading Loading Screen-^-------------*/
    #load_screen{
      background: #424242;
      opacity: 1;
      position: fixed;
      z-index: 10;
      top: 0px;
      width: 100%;
      height: 100%;
    }
    #loading{
      width: 240px;
      height: 48px;
      margin: 400px auto;
    }
    .bar p{
      padding-top: 40px;
      padding-left: 50px;
      position: inherit;
      color: white;
    }
    .bar {
      width: 240px;
      height: 48px;
      border: 3px solid #ddd;
      border-radius: 40px;
      background-image:
        repeating-linear-gradient(
          -45deg,
          #891cdf,
          #891cdf 15px,
          #ddd 25px,
          #ddd 40px /* determines size */
        );
      background-size: 56px 56px;
      animation: move .5s linear infinite;
    }
    @keyframes move {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 56px 0;
      }
    }
    </style>
  </head>
  <body id="MapBody">

    <div id="load_screen">
      <div id="loading">
        <div class="bar">
        <p>Loading...</p>
        </div>
      </div>
    </div>

    <div id="loading_icon">
      <div class="ring">
        <div class="spinner"></div>
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>

    <div id="windowcolor"></div>

    <div class="Scontainer closer">
      <div id="BGColor">
        <input type="text" id="Cinput" placeholder="Range 0-360" maxlength="3" oninput="colorChange()" onkeypress="return isNumberKey(event)"></input>
      </div>
      <div id="Xicon" onclick="noColor()"></div>
    </div>

    <div id="FLUI-div" class="FLUI closer">
      <svg id="FLUI-svg" xmlns="http://www.w3.org/2000/svg" style="display: inline; width: 100%; min-width: 100%; max-width: 100%; height: 100%; min-height: 100%; max-height: 100%;" version="1.1">
        <image x="0" y="0" id="FloorX" width="150" height="150" xlink:href="" clip-path="url(#mapView)"/>
        <image x="0" y="115" id="FloorY" width="150" height="150" xlink:href="" clip-path="url(#mapView)"/>
        <image x="0" y="205" id="FloorZ" width="150" height="150" xlink:href="" clip-path="url(#mapView)"/>
        <image x="0" y="310" id="Floor0" width="150" height="150" xlink:href="" clip-path="url(#mapView)"/>
      </svg>
    </div>
    <div class="ETA" id="time_estimate">Travel Time: {{time}} sec.</div>

    <div class="searchSpace">
      <div class="searchBar">
        <form autocomplete="off">
          <div class="autocomplete">
            <input id="search" type="text" name="Search" placeholder="Search Southwest" class="closer"></input>
          </div>
          <button type="button" id="srchBtn" class="searchBtn closer" onclick="Entry()"><img src="/static/images/searchButton.jpg" alt="Search"/></button>
        </form>
        <div class="floor">
          <div class="flico">
              <img src="/static/images/layer.png" alt="Floors">
              <a class="Floor1">Floor 1</a>
              <a class="Floor2">Floor 2</a>
              <a class="Floor3">Floor 3</a>
              <a class="Floor0">Basement</a>
              <a class="Floor4">Show all</a>
              <a class="Floor00">Clear</a>
          </div>
        </div>
        <div class="icon">
          <div class="hamburger">
            <ul>
              <a href="/gohome/">Home</a>
              <a href="/contact">Contact</a>
              <a href="/help/">Help</a>
              <a class="colorActivator"><p class="colors">Colors</p></a>
              <a id="displayMode">Night &#x263E;</a>
            </ul>
          </div>
        </div>
      </div>

      <div class="startbar">
        <form autocomplete="off">
          <div class="autocomplete">
            <input id="searchpos" type="text" name="Searchpos" placeholder="Your location" class="closer"></input>
          </div>
        </form>
        <button type="button" id="strtBtn" class="startposBtn closer" onclick="Trace()"><img src="/static/images/Locationicon.png" alt="Search"/></button>
      </div>
    </div>

    <div class="DarkMode"></div>

    <!-- ________BEGIN javascript________ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/java/interactive.js"></script>
    <script src="/static/java/mapMover.js"></script>
    <script src="/static/java/hammer.js"></script>
    <script src="/static/java/autocomplete.js"></script>
    <script src="/static/java/autocomplete_pos.js"></script>

    <script>
    function colorChange() {
      var Color = document.getElementById("Cinput").value;
      if ( $('.DarkMode').hasClass('DayMode') ){
        $("#windowcolor").css("background-color", "hsl(" + Color + ", 50%, 85%)");
        $("#windowcolor").css("filter", "invert(80%)");
      } else {
        $("#windowcolor").css("background-color", "hsl(" + Color + ", 50%, 85%)");
      }
    }
    function isNumberKey(evt){
      var charCode = (evt.which) ? evt.which : event.keyCode;
      if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;

      return true;
    }
    </script>

    <script>
    // the function below resets the floor button behavior to reflect a path
    function set_floor_buttons(data){
      $('.Floor1').click(function(){
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.one);
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
      });
      $('.Floor2').click(function(){
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.two);
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
      });
      $('.Floor3').click(function(){
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.three);
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
      });
      $('.Floor0').click(function(){
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.zero);
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
      });
      $('.Floor4').click(function(){
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.one);
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.two);
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.three);
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.zero);
      });
      $('.Floor00').click(function(){
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
      });
    }
    function reset_searchbar(){
      $('.searchBar input').css("color", "#000");
      $('.startbar input').css("color", "#000");
      $('.searchBar').removeClass('active');
      $('.startbar').removeClass('active');
      document.getElementById("search").value = "";
      document.getElementById("searchpos").value = "";
    }
    function Entry(){
      var init_html = window.location.href,
          html = init_html.substring(0, init_html.indexOf("/map/")),
          x = document.getElementById("search").value,
          s = ["Seay", "Mark", "seay", "mark"];
      if (s.indexOf(x) >= 0){
        location.assign(html + "/egg/");
      } else {
        if (results.indexOf(x) < 0){
          $('.startbar').removeClass('active');
          $('.searchBar input').css("color", "#e03e3e");
          $('.show').css("animation", "slideback 2s forwards");
          $('#search').blur();
          document.getElementById('searchpos').value = '';
        } else {
          // stop link reloading the page
          event.preventDefault();
          $('.startbar').addClass('active');
          $('.searchBar').addClass('valid');
          setTimeout(function(){
            $('.searchBar').removeClass('valid');
          }, 2000);
        }
      }
    }
    function Trace(){
      var x = document.getElementById("search").value,
          y = document.getElementById("searchpos").value;
      if ( $('.startbar').hasClass('active') ){
        if (y == x){
          $('.startbar input').css("color", "#e03e3e");
          $('#searchpos').blur();
          document.getElementById('searchpos').value = y + ' ';
        } else {
          if (results.indexOf(y) >= 0 && results.indexOf(x) < 0){
            $('.searchBar input').css("color", "#e03e3e");
            $('#search').blur();
          } else {
            if (results.indexOf(y) >= 0){
                $('#loading_icon').css('display', 'block');
                $('.searchBar input').css("color", "#3ee062");
                $('.startbar input').css("color", "#3ee062");
                $('.show').css("animation", "slideback 2s forwards");
                $.getJSON('/load_path/', {
                  start: y,
                  end: x,
                }, function(data){
                  $('#loading_icon').css('display', 'none');
                  document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.zero);
                  document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.one);
                  document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.two);
                  document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,'+data.three);
                  set_floor_buttons(data);
                  $("#time_estimate").text("Travel Time: " + data.time + " sec.");
                  $('.show').css("animation", "slide 2s forwards");
                  $('.ETA').addClass('show');
                  reset_searchbar();
                });
            } else {
              $('.startbar input').css("color", "#e03e3e");
              $('#searchpos').blur();
            }
          }
        }
      }
    }
    var z = "Room not found.";
    var results = ["110","Art","Athletic Dir.","Boys Locker Room","Cafeteria","Community Ed","Courtyard Upper","E101","E102","E103",
    "E104","E105","E106","E107","E110","E112","E115","E117","E119","E120","E122","E124","Girls Locker Room","Kitchen","Main Office",
    "N101","N102","N103","N104","N113","N130","N131","N132","N133","N135","N136","N137","N140","N142","N144","N145","N148","N149",
    "N150","N151","N152","N153","N154","Pool Seating","The Cove","The Garages","W101","W102","W105","W106","W108","W109","W111",
    "W114","W115","W116","W117","W118","W119","W120","W121","W124","W125","W126","Weight Room","West Gym","Gender Neutral Bathroom",
    "Mens Bathroom","Womens Bathroom","Elevator","Door 1","Door 2","Door 5","Door 6","Athletic Entrance","Door 7","Door 12",
    "Door 13","Door 15","Door 16","Door 17","Door 19","201","203","206","207","208","209","211","212","Auditorium","Band","BlackBox","Choir",
    "Dance","Media Center","W201","W202","W203","W204","W208","W221","W223","W225","W226","W228","W229","W230","W232 A-M","Guitar Room",
    "303","306","307","308","309","310","311","313","314","315","317","321","W301","W302","W303","W304","W313","W314","W316","W318",
    "W319","W320","W321","W322","Pool","Pool Locker Rooms","E05","E08","E09","E10","E12","E13","E19","E20","E21","E23","Courtyard Lower","East Gym"];
    //------------Changing Floors---------------->
    $(document).ready(function(){
      $.getJSON('/load_path/', {
        start: "BLANK",
        end: "BLANK",
      }, function(data){
        set_floor_buttons(data);
      });
    });
    $("#search").click(function(){
      if ( $('.DarkMode').hasClass('DayMode') ){
        $('.searchBar input').css("color", "white");
      } else{
        $('.searchBar input').css("color", "black");
      }
    });
    $("#searchpos").click(function(){
      if ( $('.DarkMode').hasClass('DayMode') ){
        $('.startbar input').css("color", "white");
      } else{
        $('.startbar input').css("color", "black");
      }
    });
    </script>
    <script> // Allow the Enter key to trigger search function.
        var input = document.getElementById("search");
        input.addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode === 13) {
            document.getElementById("srchBtn").click();
          }
        });
        var input = document.getElementById("searchpos");
        input.addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode === 13) {
            document.getElementById("strtBtn").click();
          }
        });
    </script>
    <script> // Function allows for touch-pan.
        // Don't use window.onLoad like this in production, because it can only listen to one function.
        window.onload = function() {
          var beforePan

          beforePan = function(oldPan, newPan){
            var stopHorizontal = false
              , stopVertical = false
              , gutterWidth = 500
              , gutterHeight = 500
                // Computed variables
              , sizes = this.getSizes()
              , leftLimit = -((sizes.viewBox.x + sizes.viewBox.width) * sizes.realZoom) + gutterWidth
              , rightLimit = sizes.width - gutterWidth - (sizes.viewBox.x * sizes.realZoom)
              , topLimit = -((sizes.viewBox.y + sizes.viewBox.height) * sizes.realZoom) + gutterHeight
              , bottomLimit = sizes.height - gutterHeight - (sizes.viewBox.y * sizes.realZoom)

            customPan = {}
            customPan.x = Math.max(leftLimit, Math.min(rightLimit, newPan.x))
            customPan.y = Math.max(topLimit, Math.min(bottomLimit, newPan.y))

            return customPan
          }
          var eventsHandler;

          eventsHandler = {
            haltEventListeners: ['touchstart', 'touchend', 'touchmove', 'touchleave', 'touchcancel']
          , init: function(options) {
              var instance = options.instance
                , initialScale = 1
                , pannedX = 0
                , pannedY = 0

              // Init Hammer
              // Listen only for pointer and touch events
              this.hammer = Hammer(options.svgElement, {
                inputClass: Hammer.SUPPORT_POINTER_EVENTS ? Hammer.PointerEventInput : Hammer.TouchInput
              })

              // Enable pinch
              this.hammer.get('pinch').set({enable: true})

              // Handle double tap
              this.hammer.on('doubletap', function(ev){
                instance.zoomIn()
              })

              // Handle pan
              this.hammer.on('panstart panmove', function(ev){
                // On pan start reset panned variables
                if (ev.type === 'panstart') {
                  pannedX = 0
                  pannedY = 0
                }

                // Pan only the difference
                instance.panBy({x: ev.deltaX - pannedX, y: ev.deltaY - pannedY})
                pannedX = ev.deltaX
                pannedY = ev.deltaY
              })

              // Handle pinch
              this.hammer.on('pinchstart pinchmove', function(ev){
                // On pinch start remember initial zoom
                if (ev.type === 'pinchstart') {
                  initialScale = instance.getZoom()
                  instance.zoom(initialScale * ev.scale)
                }

                instance.zoom(initialScale * ev.scale)

              })

              // Prevent moving the page on some devices when panning over SVG
              options.svgElement.addEventListener('touchmove', function(e){ e.preventDefault(); });
            }

          , destroy: function(){
              this.hammer.destroy()
            }
          }
          // Expose to window namespace for testing purposes
          window.panZoom = svgPanZoom('#FLUI-svg', {
            zoomEnabled: true
          , controlIconsEnabled: true
          , fit: 1
          , center: 1
          , beforePan: beforePan
          , customEventsHandler: eventsHandler
          });
          // panZoom.setBeforePan(beforePan)
        };
    </script>
    <!--____________ END javascript___________-->
  </body>
</html>
