<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>SWMapp</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115470904-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115470904-1');
    </script>
    <link rel="shortcut icon" href="/static/SWmapico.ico">
    <link rel="icon" type="image/png" href="/static/images/SWmapico_16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" type="image/png" href="/static/images/SWmapico_32x32.png" sizes="32x32">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' type='text/css'>
    <link rel="stylesheet" href="/static/MapCSS/style.css" type="text/css">
    <link rel="stylesheet" href="/static/MapCSS/BGColor.css" type="text/css">
    <script>
//----------------------Loading Screen-------//
    window.addEventListener("load", function(){
      var load_screen = document.getElementById("load_screen");
      setTimeout(function(){
      document.body.removeChild(load_screen);
    }, 200);
    });
    </script>
    <script>
    window.onload = function() {
      initCanvas();
    }
    </script>
    <style>
    /*-------------^-Loading Loading Screen-^-------------*/
    #load_screen{
      background: #424242;
      opacity: 1;
      position: fixed;
      z-index: 10;
      top: 0px;
      width: 100%;
      height: 100%;
    }
    #loading{
      width: 240px;
      height: 48px;
      margin: 400px auto;
    }
    .bar p{
      padding-top: 40px;
      padding-left: 50px;
      position: inherit;
      color: white;
    }
    .bar {
      width: 240px;
      height: 48px;
      border: 3px solid #ddd;
      border-radius: 40px;
      background-image:
        repeating-linear-gradient(
          -45deg,
          #891cdf,
          #891cdf 15px,
          #ddd 25px,
          #ddd 40px /* determines size */
        );
      background-size: 56px 56px;
      animation: move .5s linear infinite;
    }
    @keyframes move {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 56px 0;
      }
    }
    </style>
  </head>
  <body>

    <div id="load_screen">
      <div id="loading">
        <div class="bar">
        <p>Loading...</p>
        </div>
      </div>
    </div>

    <div id="windowcolor"></div>

    <div class="Scontainer closer">
      <div id="BGColor">
        <input type="text" id="Cinput" placeholder="Range 0-360" maxlength="3" oninput="colorChange()" onkeypress="return isNumberKey(event)"></input>
      </div>
      <div id="Xicon" onclick="noColor()"></div>
    </div>

    <div id="FLUI-div" class="FLUI closer">
      <svg id="FLUI-svg" xmlns="http://www.w3.org/2000/svg" style="display: inline; width: 100%; min-width: 100%; max-width: 100%; height: 100%; min-height: 100%; max-height: 100%;" version="1.1">
            <g>
              <rect width="800" height="800" fill="none"/>
            </g>
            <defs>
              <pattern id="mapView" width="800" height="800"/>
            </defs>
            <image x="0" y="1500" id="FloorZ" width="800" height="800" xlink:href="" clip-path="url(#mapView)"/>
            <image x="0" y="1000" id="FloorY" width="800" height="800" xlink:href="" clip-path="url(#mapView)"/>
            <image x="0" y="0400" id="FloorX" width="800" height="800" xlink:href="/static/images/SW_Floor_1.svg" clip-path="url(#mapView)"/>
            <image x="0" y="2075" id="Floor0" width="800" height="800" xlink:href="" clip-path="url(#mapView)"/>
            <text x="00" y="2000" id="floor_text" class="floor_text"></text>
      </svg>
    </div>
    <div class="ETA">Travel time: {{time}}sec.</div>
<!--Estimated Travel Time: {{time}} seconds.
-->

    <div class="searchSpace">
      <div class="searchBar">
        <div class="check">
          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
          </svg>
        </div>
        <form autocomplete="off">
          <div class="autocomplete">
            <input id="search" type="text" name="Search"placeholder="Search Southwest" class="closer">
          </div>
          <button type="button" id="srchBtn" class="searchBtn" onclick="Entry()"><img src="/static/images/searchButton.jpg" alt="Search"/></button>
        </form>
        <div class="floor">
            <div class="flico">
              <img src="/static/images/layer.png" alt="Search">
              <a onclick="fl1()">Floor 1</a>
              <a onclick="fl2()">Floor 2</a>
              <a onclick="fl3()">Floor 3</a>
              <a onclick="bsm()">Basement</a>
              <a onclick="All()">Show all</a>
              <a onclick="clr()">Clear</a>
            </div>
          </div>
        <div class="icon">
          <div class="hamburger">
            <ul>
              <a href="/home/">Home</a>
              <a href="/contact">Contact</a>
              <a href="/help/">Help</a>
              <a class="colorActivator"><p class="colors">Colors</p></a>
              <a id="displayMode">Night &#x263E;</a>
            </ul>
          </div>
        </div>
      </div>

      <div class="startbar">
        <form autocomplete="off">
          <div class="autocomplete">
            <input id="searchpos" type="text" name="Searchpos"placeholder="Your Location" class="closer">
          </div>
          <button type="button" id="strtBtn" class="startposBtn" onclick="Trace()"><img src="/static/images/Locationicon.png" alt="Search"/></button>
        </form>
      </div>
    </div>

    <div class="DarkMode"></div>

<!-- ________BEGIN javascript________ -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="/static/java/interactive.js"></script>
    <script src="/static/java/mapMover.js"></script>
    <script src="/static/java/autocomplete.js"></script>
    <script src="/static/java/autocomplete_pos.js"></script>

    <script>
    function colorChange() {
      var Color = document.getElementById("Cinput").value;
      $("#windowcolor").css("background-color", "hsl(" + Color + ", 50%, 85%)");
    }
    function isNumberKey(evt){
      var charCode = (evt.which) ? evt.which : event.keyCode;
      if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;

      return true;
    }
    </script>
    <script>
    var init_html = window.location.href,
        html = init_html.substring(0, init_html.indexOf("/map/")) + "/map/";
    $(document).ready(function(){
      if (init_html == html){
        $('.ETA').removeClass('show');
      } else {
        $('.ETA').addClass('show');
        document.getElementById('FloorX').setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{one}}');
        document.getElementById('FloorY').setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{two}}');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{three}}');
        document.getElementById('Floor0').setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{zero}}');
      }
    });
    </script>
    <script>
    function Call(){
      Destination();
      Entry();
    }
    function Path(){
      Trace();
    }
    function Entry(){
      var x = document.getElementById("search").value;
       if (results.indexOf(x) < 0){
         $('.startbar').removeClass('active');
         document.getElementById('search').value = '';
         $('.ETA').removeClass('show');
         document.getElementById("floor_text").innerHTML = '';
       } else {
         // stop link reloading the page
         event.preventDefault();
         $('.startbar').addClass('active');
         $('.checkmark').addClass('active');
         $('.checkmark__check').addClass('active');
         $('.checkmark__circle').addClass('active');
         document.getElementById("floor_text").innerHTML = 'test';
       }
    }
    function Trace(){
      var init_html = window.location.href,
          html = init_html.substring(0, init_html.indexOf("/map/")),
          x = document.getElementById("search").value,
          y = document.getElementById("searchpos").value;
        if ( $('.startbar').hasClass('active') ){
          if (y == x){
            document.getElementById("floor_text").innerHTML = "You are there!";
            $('.ETA').removeClass('show');
          } else {
            if (results.indexOf(y) >= 0){
                document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
                document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
                document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
                document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
	              location.assign(html + "/map/" + y + "/" + x + "/");
	              // stop link reloading the page
                document.getElementById("floor_text").innerHTML = '';
            } else {
              document.getElementById("floor_text").innerHTML = '';
              document.getElementById('searchpos').value = '';
            }
          }
        }
    }
    var z = "Room not found.";
    var results = ["110","Art","Athletic Dir.","Boys Locker Room","Cafeteria","Community Ed","Courtyard Upper","E101","E102","E103","E104","E105","E106","E107","E110","E112","E115","E117","E119","E120","E122",
    "E124","Girls Locker Room","Kitchen","Main Office","N101","N102","N103","N104","N113","N130","N131","N132","N133","N135","N136","N137","N140","N142","N144","N145","N148","N149","N150","N151","N152",
    "N153","N154","Pool Seating","The Cove","The Garages","W101","W102","W105","W106","W108","W109","W111","W114","W115","W116","W117","W118","W119","W120","W121","W124","W125","W126","Weight Room","West Gym",
    "Gender Neutral Bathroom", "Men's Bathroom", "Women's Bathroom", "Elevator","Door 1","Door 2","Door 5","Door 6","Athletic Entrance","Door 7","Door 12","Door 13","Door 15","Door 16","Door 17","201","203","206","207","208","209","211","212","Auditorium","Band",
    "BlackBox","Choir","Dance","Media Center","W201","W202","W203","W204","W208","W221","W223","W225","W226","W228","W229","W230","W232 A-M","Guitar Room","303","306","307","308","309","310","311",
    "313","314","315","317","321","W301","W302","W303","W304","W313","W314","W316","W318","W319","W320","W321","W322","Pool","Pool Locker Rooms","E05","E08","E09","E10","E12","E13",
    "E19","E20","E21","E23","Courtyard Lower","East Gym"];
    </script>
    <script> // Allow the Enter key to trigger search function.
        var input = document.getElementById("search");
        input.addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode === 13) {
            document.getElementById("srchBtn").click();
          }
        });
        var input = document.getElementById("searchpos");
        input.addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode === 13) {
            document.getElementById("strtBtn").click();
          }
        });
        </script>
        <script> // Function allows for touch-pan.
        // Don't use window.onLoad like this in production, because it can only listen to one function.
        window.onload = function() {
          var beforePan

          beforePan = function(oldPan, newPan){
            var stopHorizontal = false
              , stopVertical = false
              , gutterWidth = 100
              , gutterHeight = 100
                // Computed variables
              , sizes = this.getSizes()
              , leftLimit = -((sizes.viewBox.x + sizes.viewBox.width) * sizes.realZoom) + gutterWidth
              , rightLimit = sizes.width - gutterWidth - (sizes.viewBox.x * sizes.realZoom)
              , topLimit = -((sizes.viewBox.y + sizes.viewBox.height) * sizes.realZoom) + gutterHeight
              , bottomLimit = sizes.height - gutterHeight - (sizes.viewBox.y * sizes.realZoom)

            customPan = {}
            customPan.x = Math.max(leftLimit, Math.min(rightLimit, newPan.x))
            customPan.y = Math.max(topLimit, Math.min(bottomLimit, newPan.y))

            return customPan
          }

          // Expose to window namespace for testing purposes
          window.panZoom = svgPanZoom('#FLUI-svg', {
            zoomEnabled: true
          , controlIconsEnabled: true
          , fit: 1
          , center: 1
          , beforePan: beforePan
          });

          // panZoom.setBeforePan(beforePan)
        };
      </script>

      <!-- Changing floors-->
      <script type=text/javascript>
      function fl1() {
        document.getElementById("floor_text").innerHTML = '';
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{one}}');
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("searchpos").value = '';
        document.getElementById("search").value = '';
        $('.startbar').removeClass('active');
      }
      function fl2() {
        document.getElementById("floor_text").innerHTML = '';
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{two}}');
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("searchpos").value = '';
        document.getElementById("search").value = '';
        $('.startbar').removeClass('active');
      }
      function fl3() {
        document.getElementById("floor_text").innerHTML = '';
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{three}}');
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("searchpos").value = '';
        document.getElementById("search").value = '';
        $('.startbar').removeClass('active');
      }
      function bsm() {
        document.getElementById("floor_text").innerHTML = '';
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{zero}}');
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("searchpos").value = '';
        document.getElementById("search").value = '';
        $('.startbar').removeClass('active');
      }
      function clr() {
        document.getElementById("floor_text").innerHTML = '';
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', '');
        document.getElementById("searchpos").value = '';
        document.getElementById("search").value = '';
        $('.startbar').removeClass('active');
      }
      function All() {
        document.getElementById("floor_text").innerHTML = '';
        document.getElementById("FloorX").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{one}}');
        document.getElementById("FloorY").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{two}}');
        document.getElementById("FloorZ").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{three}}');
        document.getElementById("Floor0").setAttributeNS('http://www.w3.org/1999/xlink', 'href', 'data:image/png;base64,{{zero}}');
        document.getElementById("searchpos").value = '';
        document.getElementById("search").value = '';
        $('.startbar').removeClass('active');
      }
      </script>
      <script>
      $(document).ready(function(){
        $('.closer').click(function(){
          $('.floor').removeClass('active');
          $('.icon').removeClass('active');
        });
      });
      </script>
<!--____________ END javascript___________-->


  </body>
</html>
