<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
    <title>Thank You</title>
    <link href="/static/MapCSS/style.css" type="text/css" rel="stylesheet">
  </head>
  <body id="TYbg">
    <h1>Map Southwest</h1>
    <div class="TYbox">
      <div class="TYdiv">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
        </svg>
      </div>
      <h2>Thank you for your feedback!</h2>
      <a class="startbtn" href="/home/">Home</a>
    </div>
  </body>
</html>
