<div class="nav">
  <div class="container">
    <ul>
      <a class="btn" onclick="home()"><li>Home</li></a>
      <a class="btn select" onclick="contact()"><li>Contact</li></a>
      <a class="btn" onclick="help()"><li>Help</li></a>
    </ul>
  </div>
</div>

<div class="essay3">
  <h1>Contributers:</h1><br/>

  <h1>Seay Zagar</h1>
  <ul>
    <li><p>Email: seaystir@gmail.com</p></li>
  </ul>

  <h1>Mark Pekala</h1>
  <ul>
    <li><p>Email: mpek66@gmail.com</p></li>
  </ul>

  <h1>Simon Lynn-Klimenko</h1>
  <ul>
    <li><p>Email: simon.lynnklimenko@gmail.com </p></li>
  </ul>

  <h1>Mr. Pass</h1>
  <ul>
    <li><p>Email: gabrielpass@mpls.k12.mn.us </p></li>
  </ul>

</div>

<div class="sub">
  <a class="formbtn" href="/form/">Leave Feedback!</a>
</div>

<div class="footer3">
  <div class="container">
    <p>&copy; MapSW</p>
  </div>
</div>
