<div class="helpbox">
  <h1>Support</h1>
  <div class="essay2">
    <div class="qbox"><div class="circle"><p>Click this button to enter your search.</p></div><img src="/static/images/searchButton.jpg"/></div>
    <div class="qbox2"><div class="circle"><p>Click this button to enter your staring location and activate navigation.</p></div><img src="/static/images/Locationicon.png"/></div>
    <div class="qbox3"><div class="circle"><p>This button displays floors of the school.</p></div><img src="/static/images/layer.png"/></div>
    <div class="qbox4">
      <ul>
        <li>
          Accidentally zoomed page? Double tap with two fingers.
        </li>
      </ul>
      <img id="QuestionMark" src="/static/images/QuestionMarkicon.png"></img>
    </div>
  </div>
</div>

<div class="footer2"> 
  <div class="container">
    <p>&copy; MapSW</p>
  </div>
</div>
