<div class="nav">
  <div class="container">
    <ul>
      <a class="btn select" onclick="home()"><li>Home</li></a>
      <a class="btn" onclick="contact()"><li>Contact</li></a>
      <a class="btn" onclick="help()"><li>Help</li></a>
    </ul>
  </div>
</div>

<div class="main">
  <div class="container2">
    <div class="textbox">
      <h2>How it was made?</h2>
      <p>The foundation of this perfectly optimized web app is based on a simple HTML frame and neatly decaorated with highly complex Cascading Style Sheets (CSS). Javascript is used for most of the functionality including buttons, toggles, and displaying navigational features. The actual navigational functionality, however, is reserved to the Python code. With a complete index of hallways and rooms converted to individual nodes, the Python code finds the shortest route between the nodes, providing the user with a quick, reliable navigation app.</p>
    </div>
    <a href="/map/"><img src="/static/images/SWmapico.png"></a>
</div>

<div class="footer">
  <div class="container">
    <p>&copy; MapSW</p>
  </div>
</div>
</div>
